.btns a.discord-btn{
    color: var(--white);
    background-color: var(--discord-col);
}

.btns a.discord-btn:hover{
    background-color: var(--discord-col-hover);
}

.btns a.guild-btn{
    color: var(--white);
    background-color: var(--guild-col);
}

.btns a.guild-btn:hover{
    background-color: var(--guild-col-hover);
}